.quick-tips-container {
    position: fixed;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.quick-tips {
    position: absolute;
    max-width: 50%;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(13, 13, 13, 0.4);
    color: #ffffff;
    border-radius: 10px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1),
                 1px -1px 0 rgba(0, 0, 0, 0.1),
                 -1px 1px 0 rgba(0, 0, 0, 0.1),
                 1px 1px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding-left: 20px;
    padding-right: 20px;
}

.tip-close-button {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #ffffff;
    margin-left: 10px;
}

.tip-text {
    flex: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0 5px;
    text-align: left;
}

.tip-title {
    color: #ffffff;
    font-weight: 1000;
    width: 80px;
    flex-shrink: 0;
    text-align: left;
}