/* Global Styles */
* {
  -webkit-user-drag: none;
}

/* Controls Container */
.controls-container {
  width: 100%;
  min-width: 1300px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: transparent;
}

.control-label {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  bottom:110%;
  text-shadow: 0 0 2px #000000;
}

.control-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  background-color: rgba(13, 13, 13, 0.7);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-left: 1px solid rgba(241, 241, 241, 0.15);
  padding-left: 15px;
  padding-right: 15px;
}

.contol-group-start{
  border-radius: 12px 0 0 12px;
  padding-left: 8px;
}

.contol-group-end{
  border-radius: 0 12px 12px 0;
  padding-right: 8px;
}
.control-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.control-divider-vertical {
  width: 1px;
  height: 20px;
  background-color: rgba(241, 241, 241, 0.15);
  margin: 0 8px;
}

/* Button Styles */
.control-button {
  margin: 0 2px;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid rgba(241, 241, 241, 0.15);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
}

button {
  border-radius: 5px;
  padding: 8px 15px;
}

.import-export-button {
  width: 90px;
}

.import-export-button label {
  font-size: 14px;
  cursor: pointer;
}

.import-export-button input[type="file"] {
  display: none;
}

/* Modal Styles */
.modal,
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(13, 13, 13, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  border-radius: 10px;
  width: 300px;
  padding: 30px;
  background-color: rgba(13, 13, 13, 0.7);
}

.modal-title {
  margin-bottom: 15px;
}

.modal-description {
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: #444444;
}

.modal-input {
  margin-bottom: 10px;
}

.modal-input label {
  margin-bottom: 5px;
}

.modal-input input {
  width: 70%;
  padding: 5px;
  margin-top: 5px;
  justify-self: center;
  box-sizing: border-box;
}

.modal-input input[type="range"] {
  width: 150px;
}

.modal-input span {
  min-width: 40px;
  display: inline-block;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.modal-buttons button {
  font-size: 14px;
}

/* Helper Classes & Controls */

.placement-size-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.placement-size-controls span {
  min-width: 20px;
  text-align: center;
}

/* Input Groups */
.dimension-inputs,
.grid-size-input,
.terrain-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.dimension-inputs label,
.grid-size-input label,
.terrain-inputs label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.dimension-inputs input,
.grid-size-input input,
.terrain-inputs input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Camera Controls */
.camera-angle-slider {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 200px;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: rgba(13, 13, 13, 0.7);
  padding: 10px 5px;
  border-radius: 5px;
}

.vertical-slider {
  writing-mode: vertical-lr;
  direction: rtl;
  width: 8px;
  height: 100%;
}

.control-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}